.fragment-content {
    word-wrap: break-word;
    background-color: white;
}

.fragment-content table
,.fragment-content tr
,.fragment-content th
,.fragment-content td
{
    border: 1px solid lavender;
    border-collapse: collapse;
    width: 1%;
    white-space: nowrap;
}

.fragment-content pre {
    background-color: whitesmoke;
}

.fragment-content blockquote {
    border: 1px solid slategray;
}

.fragment-content hr {
    border:thin solid lightgray;
}

.fragment-content li li {
    list-style-type: square;
}

.fragment-content li li　li {
    list-style-type: circle;
}
