.fragment-content, #fragment-overlay-content  {
    word-wrap: break-word;
}

.fragment-content table
,.fragment-content tr
,.fragment-content th
,.fragment-content td
,#fragment-overlay-content table
,#fragment-overlay-content tr
,#fragment-overlay-content th
,#fragment-overlay-content td
{
    border: 1px solid lavender;
    border-collapse: collapse;
    width: 1%;
    white-space: nowrap;
}

.fragment-content pre, #fragment-overlay-content pre {
    background-color: whitesmoke;
}

.fragment-content blockquote, #fragment-overlay-content blockquote {
    border: 1px solid slategray;
}

.fragment-content hr, #fragment-overlay-content hr {
    border:thin solid lightgray;
}

.fragment-content li li, #fragment-overlay-content li li {
    list-style-type: square;
}

.fragment-content li li　li, #fragment-overlay-content li li li {
    list-style-type: circle;
}
