.fragment-content {
    word-wrap: break-word;
    background-color: white;
}

.fragment-content table
,.fragment-content tr
,.fragment-content th
,.fragment-content td
{
    border: 1px solid lavender;
    border-collapse: collapse;
    width: 1%;
    white-space: nowrap;
}

.fragment-content pre {
    background-color: whitesmoke;
}

.fragment-content blockquote p {
	margin: 0px 0px 0px 0px;
}

.fragment-content blockquote {
    border: 1px solid slategray;
    margin: 3px 10px 10px 10px;
    padding-left: 6px;
}

.fragment-content blockquote blockquote {
    border: 1px solid lavender;
    margin: 6px 18px 3px 18px;
    padding-left: 6px;
}

.fragment-content hr {
    border:thin solid lightgray;
}

.fragment-content ul ul {
    list-style-type: square;
}

.fragment-content ul ul ul {
    list-style-type: circle;
}

.fragment-content ol ol {
    list-style-type: lower-roman;
}

.fragment-content ol ol ol {
    list-style-type: lower-alpha;
}
