.ui-growl {
	top: 60px;
}

.context-menu {
    display:none;
    z-index:500;
    position:fixed;
}

#fragment-group {
	margin: 15px 0px 0px 2px;
}

#fragment-panel-0, #fragment-panel-1, #fragment-panel-2 {
    max-height: 1200px;
    float: left;
    margin: 0px 10px 60px 0px;
    overflow: auto;
}

#new-fragment-editor-trigger {
	font-size: medium;
    margin-left: 3px;
    color:yellow;
}

#new-fragment-editor-trigger:hover {
    color:gold;
}

#panel-activation-buttons {
    margin-left: 4px;
    font-size: x-small;
    white-space: nowrap;
}

#panel-activation-buttons label {
	top : -3px;
}

#panel-activation-buttons .ui-button-text {
	padding : 2px 6px 2px 6px;
}

/* prevent the header layout from collapsing when the browser window width gets extremely small */
@media screen and (max-width: 500px) {
	#refresh-link {
		font-size: xx-small;
	}
	
	#new-fragment-editor-trigger {
		display: none;
	}
	
	#panel-activation-buttons {
		font-size: xx-small;
	}
	
	#panel-activation-buttons label span:nth-of-type(2) {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	#theme-switcher, #theme-icon {
	   visibility: hidden;
	}
}

#search-buttons-at-header {
	width: 60%;
	white-space: nowrap;
}

#search-buttons-at-header span:hover {
    color:limegreen
}

#user-menu-area {
    margin-right: 6px;
    position: absolute;
    top: -5px;
    right: 0px;
}

#theme-switcher {
	display:inline;
	position: absolute;
	top: 6px;
	right: 54px;
	max-width:110px;
}

#theme-icon {
	display:inline;
	position: absolute;
	top: 6px;
	right: 170px;
	color:cornsilk;
}

#user-menu-trigger {
	width: 42px;
}

#user-menu-dlg-form\:pwd1, #user-menu-dlg-form\:pwd2 {
    width: 100%;
}

#user-menu-dlg-form\:user-profile-dlg .ui-panel
, #user-menu-dlg-form\:about-dlg .ui-panel {
    margin: 5px 0px 5px 0px;
}

#editor-title-bar, #fragment-overlay-title-bar {
    clear: both;
    display: block;
    height: 24px;
    overflow: hidden;
}

#editor-title-bar {
    min-width: 300px;
}

#editor-button-bar {
	height:46px;
	background-color:gainsboro;
}

#fragment-overlay-title {
	font-weight: bold;
	font-size:large;
	margin-left:50px;
}

#fragmen-overlay-back-button span {
	margin: 4px 0px 0px 8px;
	color: aqua;
	font-size:large;
}

#editor-frame, #fragment-overlay {
    border-style: solid;
    border-width: 3px;
    border-color: navy;
    z-index: 201;
}

#editor-frame {
    background-color: oldlace;
}

#fragment-overlay {
    background-color: white;
}
    
#fragment-overlay-content {
	min-width: 320px;
	max-width: 640px;
	max-height: 480px;
	overflow: auto;
}

#fragment-overlay {
	overflow: hidden;
}

#editor-frame input {
    margin-left: 10px;
    width: 96%;
}

#editor-title {
    font-size: 140%;
    font-style: bold;
    position: relative;
    left: 40%;
}

#editor-frame-close-button {
    margin-right: 10px;
}

#fragment-preview-frame {
    margin-top: 10px;
    border-style: double;
}

#fragment-group-form\:fragment-panel-toolbar-0
, #fragment-group-form\:fragment-panel-toolbar-1
, #fragment-group-form\:fragment-panel-toolbar-2
{
    position: fixed;
    bottom: 0%;
    max-height:28px;
    z-index: 210;
    font-size: x-small;
    border: 2px solid black;
}

#frg-reso-slider0
, #frg-reso-slider1
, #frg-reso-slider2
{
    width:120px;
    display:inline-block;
}

#last-search-phrase-0
, #last-search-phrase-1
, #last-search-phrase-2
{
    margin: 4px 0px 2px 0px;
}

#last-search-phrase-0 input
, #last-search-phrase-1 input
, #last-search-phrase-2 input
{
    margin-left:6px;
    min-width:70%;
}

.warning-color {
    color: red;
}

.new-fragment-editor-trigger-on-toolbar span {
    color:gold;
}

.button-link
, #fragment-group-form\:fragment-panel-toolbar-0 a 
, #fragment-group-form\:fragment-panel-toolbar-1 a
, #fragment-group-form\:fragment-panel-toolbar-2 a
{
    text-decoration: none;
}

#fragment-sort-option-container0 
, #fragment-sort-option-container1 
, #fragment-sort-option-container2 
{
    height:100px;
    max-height:100px;
    display:inline-block;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.button-link:hover {
    color: #ff830e;
}

.each-tag .fa-tag {
    color:white;
}

.each-tag-name {
    text-align: left;
    color: black;
}

.trivial-tag .each-tag-name {
    color: black;
}

.special-tag .each-tag-name, .special-tag .fa {
    color: blueviolet;
}

#tag-palette-flat .each-tag {
	display: inline-block;
}

.tag-button, .tag-box, .file-button {
    margin: 2px 1px 1px 1px;
    border:1px solid #ffc826;
    -webkit-box-shadow: #B4B5B5 1px 1px 1px  ;-moz-box-shadow: #B4B5B5 1px 1px 1px ; box-shadow: #B4B5B5 1px 1px 1px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:10px;font-family:arial, helvetica, sans-serif;
    padding: 1px 1px 1px 1px; text-decoration:none; display:inline;font-weight:lighter; color: black;
/*     text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
    background-color: #ffd65e; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
    background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
    background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
    background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
    background-image: -o-linear-gradient(top, #ffd65e, #febf04);
    background-image: linear-gradient(to bottom, #ffd65e, #febf04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffd65e, endColorstr=#febf04);
}

.tag-button:hover {
    border:1px solid #f7b800;
    background-color: #ffc92b; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc92b), to(#ce9a01));
    background-image: -webkit-linear-gradient(top, #ffc92b, #ce9a01);
    background-image: -moz-linear-gradient(top, #ffc92b, #ce9a01);
    background-image: -ms-linear-gradient(top, #ffc92b, #ce9a01);
    background-image: -o-linear-gradient(top, #ffc92b, #ce9a01);
    background-image: linear-gradient(to bottom, #ffc92b, #ce9a01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc92b, endColorstr=#ce9a01);
    cursor:pointer;
}

#trashcan, #new-tag-button {
    margin: 10px 0px 10px 15px;
	display:inline-block;
	font-size:x-small;
}

#trashcan {
	width: 50%;
}

#new-tag-button {
    float:right;
}

.sidebar-title {
	font-size: 150%;
    font-style: bold;
}

.toggle-icon {
    color:silver;
}

#bookmark-title, #tag-palette-title, #selection-box-title, #file-box-title {
    margin: 10px 10px 10px 10px;
}

#bookmark-title {
    color: gold;
}

#tag-palette-title {
    color: green;
}

#selection-box-title {
    color: coral;
}

#file-box-title {
    color: brown;
}

#bookmark-form\:bookmark-panel
, #selection-box-form\:selection-box-panel
, #file-box-form\:file-box-panel
{
	max-height: 480px;
	margin-bottom: 20px;
	overflow: auto;
}

#tag-palette-form\:tag-palette-container {
    margin-bottom: 20px;
    overflow: hidden;
}

#tag-palette-flat, #tag-palette-tree {
    padding: 0px 0px 0px 8px;
    max-height: 480px;
    overflow: auto;
}

.each-bookmark, .each-selected-frg {
	cursor:default;
}

#fragment-group-form\:messages, #fragment-group-form\:development-messages {
	position: relative;
	top: 40px;
	margin-bottom: 5px;
}

.each-file:hover {
    color:gray;
}

.ui-autocomplete {
	z-index:10000;
}

#file-path-tree {
	margin-top: 20px;
}

.fb-file {
    color: maroon;
    padding: 1px 0px 1px 0px;
    border:1px solid #8bcf54;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
    background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.fb-dir {
	color: gold;
}

.fb-target-dir {
	color: aqua;
}

.fb-broken {
	color: red;
}

.markItUp {
    border:0;
}

.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:2px 2px 2px 2px;
	border:2px solid #3c769d;
	width:99%;
	background:#fff;
	clear:both;
	line-height:16px;
	overflow:auto;
	resize:none;
}

#file-box-form\:src-path, #file-box-form\:dst-path {
	font-size: 120%;
	font-weight:bold;
	color: lime;
}

#tag-palette-form\:tag-editor th
, #tag-palette-form\:tag-info th
{
	background-color: black;
}

#tag-palette-form\:tag-editor .fa-arrow-up
, #tag-palette-form\:tag-info .fa-arrow-up
{
	position: relative;
	left: 20%;
}

#tag-palette-form\:tag-editor .fa-arrow-down
, #tag-palette-form\:tag-info .fa-arrow-down
{
	position: relative;
	left: 80%;
}

#tag-palette-form\:tag-editor td
, #tag-palette-form\:tag-info td
{
	background-color: gray;
	width: 280px;
}

.ui-draggable-handle {
	cursor:move;
}

#fragment-group-form\:search-panel label {
    width: 70px;
}

#fragment-group-form\:search-panel .ui-chkbox {
	margin-left: 6px;
	vertical-align: sub;
}

.ui-weak-focus {
	box-shadow: 10px 10px 30px 20px azure inset;
}

.ui-strong-focus {
	box-shadow: 10px 10px 30px 20px red inset;
}

#fragment-group-form\:search-panel input {
	width: 60%;
}

.notxtslct {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.middle-line {
    text-decoration: line-through;
    font-weight: lighter;
}

#user-menu-dlg-form\:data-broker-dlg .ui-wizard-nav-next
, #user-menu-dlg-form\:cpd-submit
{
    width:70px;
    height:40px;
}

#user-menu-dlg-form\:data-broker-dlg .ui-wizard-nav-next .fa
, #user-menu-dlg-form\:cpd-submit .fa
{
    position:relative;
    top:10px;
}

#user-menu-dlg-form\:data-broker-dlg a {
    margin-left:40%;
}

#user-menu-dlg-form\:data-broker-dlg a:hover {
    margin-left:40%;
    color:highlight;
}
