#container {
	width: 100%;
	margin: 0 auto;
	border-width: 1;
}

#header, #footer {
	width: 100%;
	margin: 0 auto;
	border-style: inherit;
}

#header {
	top: 0;
	height: 40px;
	background: url(images/coffee-bean-background-sml.jpg) repeat-x;
}

#footer {
	border-style: groove;
	clear: both;
}

#content {
	width: 70%;
	margin-left: 0;
	border-style: inherit;
	float: left;
}

#sidebar {
	width: 28%;
	float: right;
}

#app-title {
	color: #0ff;
	font-size: 250%;
	font-style: italic;
	text-decoration: underline;
}

#new-fragment-editor-trigger {
	margin-left: 30px;
}

#editor-title-bar {
	clear: both;
	display: block;
	background-color: #7d7171;
	height: 100%;
	overflow: hidden;
}

#editor-frame {
	background-color: #b9b2b2;
	border-style: ridge;
	border-width: 10px;
	border-color: #888822;
}

#editor-frame input {
	margin-left: 10px;
	width: 96%;
}

#editor-title {
	color: #ff0;
	font-size: 140%;
    font-style: bold;
    position: relative;
    left: 40%;
}

#editor-frame-close-button {
	margin-right: 10px;
}

#fragment-preview-frame {
	margin-top: 10px;
	border-style: double;
}

#tag-palette-title {
	color: #0a0;
	font-size: 150%;
	font-style: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#fragment-group-form\:fragment-panel-toolbar {
    position: fixed;
    top: 94%;
}

.fragment-header {
	max-height: 22px;
	height: 22px;
	width: 100%;
    display: inline-block;
}

.fragment-menu {
	display: none;
	float: right;
	overflow: visible;
	position: relative;
	top: -15px;
}

.warning-color {
	color: #f00;
}

.new-resource-color {
	color: #ff0;
}

.button-link, #fragment-group-form\:fragment-panel-toolbar a  {
    text-decoration: none;
}

.button-link:hover {
    color: #ff830e;
}

.each-tag-name {
	text-align: left;
	color: #ffffff;
}