#container {
	width: 100%;
	margin: 0 auto;
	border-width: 1;
}

#header, #footer {
	width: 100%;
	margin: 0 auto;
	border-style: inherit;
}

#header {
	top: 0;
	height: 50px;
	background-color: burlywood;
}

#footer {
	border-style: groove;
	clear: both;
}

#content {
	width: 81%;
	margin-left: 0;
	border-style: inherit;
	float: left;
}

#sidebar {
	width: 18%;
	float: right;
}
