#signin-form-panel {
	max-width: 50%;
	min-width: 300px;
	margin-top: 50px;
	font-size: 0.8em;
}

#j_username, #j_password {
	width: 100%;
}

#signin-form-remember-me-label {
	color: gold;
}

#sign-in-button {
	margin: 20px auto auto 10px;
}
