#signin-form-panel {
	width: 50%;
	margin-top: 10px;
}

#j_username, #j_password {
	width: 100%;
}

#signin-form-remember-me-label {
	color: gold;
	margin-left: 15%;
}

#sign-in-button {
	margin-top: 40px;
}
