**/.DS_Store
**/.swp
**/.orig
.gradle
build/
**/build/
!tools/build
tools/temp
target/
**/target/
test/
!src/test/
extra/
src/main/webapp/js/compressed.js
src/main/webapp/styles/compressed.css
memo/
tmp/
.*-version
