.-cvz-sh {
	border:1px solid #8bcf54;
    border-radius: 3px;
    background-color: #a9db80;
	background-image: linear-gradient(to bottom, #a9db80, #96c56f);
}

.-cvz-st {
	text-decoration: line-through;
}

.-cvz-clr-c {
	color: cyan;
	font-weight: bold;
}

.-cvz-clr-b {
	color: royalblue;
	font-weight: bold;
}

.-cvz-clr-r {
	color: red;
	font-weight: bold;
}

.-cvz-clr-g {
	color: limegreen;
	font-weight: bold;
}

.-cvz-clr-y {
	color: orange;
	font-weight: bold;
}

.-cvz-clr-m {
	color: magenta;
	font-weight: bold;
}

.-cvz-clr-v {
	color: blueviolet;
	font-weight: bold;
}

.-cvz-clr-br {
	color: brown;
	font-weight: bold;
}

.-cvz-usb {
	text-decoration: underline;
	font-weight: bold;
	font-style: oblique;
}

.-cvz-error {
	color: red;
	font-size:large;
	font-weight: bold;
	font-style: oblique;
}

.-cvz-frgm {
    margin-right: 4px;    
}

.-cvz-frgm-embed {
	display: block;
}

.-cvz-fold-title {
    margin: 0 0 0 8px;
    font-weight: bold;
    text-decoration: underline;
    color: cornflowerblue;
}
