.fragment-content {
    word-wrap: break-word;
    background-color: white;
}

.fragment-content h1,
.fragment-content h2,
.fragment-content h3,
.fragment-content h4,
.fragment-content h5,
.fragment-content h6 {
    letter-spacing: 1px;
    color: #999999;
}

.fragment-content h1,
.fragment-content h2 {
    background-color: navajowhite;
    background-image: linear-gradient(to right, navajowhite, #ffffff);
}

.fragment-content h3,
.fragment-content h4 {
    background-color: powderblue;
    background-image: linear-gradient(to right, powderblue, #ffffff);
}

.fragment-content h5,
.fragment-content h6 {
    background-color: moccasin;
    background-image: linear-gradient(to right, moccasin, #ffffff);
}

.fragment-content table {
    margin: 5px auto 20px auto;    
}

.fragment-content table
,.fragment-content tr
,.fragment-content th
,.fragment-content td
{
    border: 1px solid lavender;
    border-collapse: collapse;
}

.fragment-content em {
    font-style: italic;
    color: gray;
}

.fragment-content code {
    padding: 1px 2px 1px 2px;
    color: #000;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    white-space: pre-wrap;
}

.fragment-content pre {
    background-color: whitesmoke;
    white-space: pre-wrap;
}

.fragment-content pre code {
    border: 0;
}

.fragment-content blockquote p {
	margin: 0px 2px 0.6em 0px;
}

.fragment-content .-cvz-fold blockquote {
    border: 1px solid slategray;
    margin: 3px 10px 10px 10px;
    padding-left: 6px;
}

.fragment-content blockquote {
    border-left: 4px solid darkgray;
    margin: 3px 10px 10px 10px;
    padding-left: 6px;
}

.fragment-content blockquote blockquote {
    border-left: 3px solid lavender;
    margin: 0px 18px 0px 18px;
    padding-left: 6px;
}

.fragment-content hr {
    border:thin solid lightgray;
}
    
.fragment-content ul {
    list-style: none;
}

.fragment-content ul > li:before {
    font-family: FontAwesome;
    content:"\f00c";
    color: green;
    margin: auto 0.5em auto -1.5em;
}

.fragment-content ul > li > ul > li:before {
    font-family: FontAwesome;
    content: "\f0f4";
    color: dimgray;
}

.fragment-content ul > li > ul > li > ul > li:before {
    font-family: FontAwesome;
    content: "\f054";
    color: brown;
}

.fragment-content ul > li > ul > li > ul > li > ul > li:before {
    font-family: FontAwesome;
    content: "\f000";
    color: powderblue;
}

.fragment-content ol {
    counter-reset: item;
}

.fragment-content > ol > li {
    list-style: none;
    counter-increment: item;
}

.fragment-content > ol > li:before {
    white-space:pre-wrap;
    content: " " counter(item) " ";
    color: green;
    border:thin solid green;
    border-radius:0.15em;
    margin: auto 0.5em auto -1.5em;
}

.fragment-content ol {
    list-style-type: decimal;
}

.fragment-content ol ol {
    list-style-type: upper-roman;
}

.fragment-content ol ol ol {
    list-style-type: upper-alpha;
}

.fragment-content ol ol ol ol {
    list-style-type: lower-alpha;
}

.fragment-content li > p {
    display:inline;
    margin: 0px 0px 0px 0px;
}

.fragment-content img {
    max-width:90%;
}

.frg-content-reso0, .frg-content-reso3 {
    display: block;
    max-height: auto;
    height: auto;
}

.frg-content-reso1 {
    display: block;
    max-height: 60px;
    overflow-y:auto;
}

.frg-content-reso2 {
    display: block;
    max-height: 200px;
    overflow-y:auto;
}

.fold-toggle-icon {
    color: cornflowerblue;
}

.yt-video { 
    overflow: hidden;
    position: relative;
    max-width: 320px;
    max-height: 180px;
    cursor: pointer;
}

.yt-video .fa-youtube-play {
    position: absolute;
    font-size: 3em;
    color: red;
    left: 50%;
    top: 50%;
}

img.yt-thumb {
    max-width: 100%;
    max-height: 100%;
}
