.each-fragment-container, .each-fragment {
    overflow-x: auto;
    clear: both;
}

.each-fragment-container table {
    margin-top: 5px;
    margin-bottom: 0px;
}

.related-fragment-container {
    margin-left: 2%;
}

.small-fragment-box, .fragment-title {
	margin:0px 0px 5px 5px;
    height: 15px;
    border:1px solid #cacaca;
    border-radius: 3px;
    font-size:12px;font-family:arial, helvetica, sans-serif;
    padding: 1px 1px 1px 3px;
    color: #000;
    background-color: #E6E6E6;
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
}

.small-fragment-box {
	display:inline-block;
    overflow: hidden;
}

.small-fragment-box:hover {
    color: green;
}

.fragment-header {
    white-space: nowrap;
    max-height: 26px;
    height: 26px;
    width: 100%;
    display: inline-block;
    overflow-y: hidden;
}

.fragment-header.app-help-fragment {
    display: none;
}

.fragment-header .ui-chkbox-box {
    border:thin solid white;
    box-shadow:1px 1px dimgray;
}

.fragment-header .fa-clock-o {
    cursor:default;
    margin-left: 5px;
}

.fragment-header .rclick-hint {
    cursor:default;
	margin-left: 20px;
	overflow:visible;
	color:lightcyan;
	font-weight: bold;
}

.trashed-fragment-title {
    text-decoration: line-through;
}
