#container {
	min-width: 1200px;
	width: 100%;
    margin: 0px;
	display: none;
}

#header, #footer {
	width: 100%;
}

#header {
	z-index: 200;
	position: fixed;
	top: 0;
	height: 40px;
}

#footer {
	clear: both;
}

#content {
    min-width: 982px;
	width: 81%;
    margin: 0px;
	float: left;
}

#sidebar {
    min-width: 210px;
	width: 18%;
	margin-top: 50px;
	float: right;
}

#app-symbol {
    font-size: xx-large;
    margin:2px 8px 0px 0px;
    color:azure;
    text-shadow: 2px 2px 2px skyblue;
}

#refresh-link .fa-tree {
    margin:0px -4px 0px -2px;
    color:forestgreen;
    text-shadow: 2px 2px 2px springgreen;
}

@media screen and (max-width: 500px) {
    #refresh-link .fa-tree {
        display:none;
    }
}